body{
  margin: 1%;
}

.burger-image, .wings-image {
  max-width: 100%;
}

.logo{
  color: white;

}

.logo-header{
  max-width: 20%;
}

.logo-title{
  color: white;
}

.col-lg-6{
padding: 0;
}

.jumbotron{
  background-image:url("https://raw.githubusercontent.com/cpog19901/burger-pad/master/images/bh-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}


.menu-link{
  color: white;
  margin-left: auto;
}

.nav-link{
  text-align: right;
}

.burger-text-container, .wings-text-container{
  font-family: 'Anton', sans-serif;

  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-image:url("https://raw.githubusercontent.com/cpog19901/burger-pad/master/images/bh-bg.svg");
  padding: 2%;
  border-radius: 5px;
}

.burger-text, .wings-text{
  font-size: 50px;
}

.burger-info, .wings-info{
  position: relative;
}

.menu{
  text-align: center;
  margin-top: 4%;
  font-family: 'Caveat', cursive;
}

.menu-type{
  font-weight: bold;
  display: block;
}

.heading{
  font-family: 'Anton', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin: 1% 0;
  background-image:url("https://raw.githubusercontent.com/cpog19901/burger-pad/master/images/bh-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
  text-align: center;
}

.menu-dish{
  margin-top: 3%;
}

.menu-type{
  /* margin: 3% 0; */
  border: 3px solid #fb5900;
  display: block;
  padding: 1%;
  height: 100%;
  background-image:url("https://raw.githubusercontent.com/cpog19901/burger-pad/master/images/bh-bg-w.svg");
}

.col-menu{
  margin-bottom: 2%;
}

.menu-type-title{
  font-weight: bold;
  background-image:url("https://raw.githubusercontent.com/cpog19901/burger-pad/master/images/bh-bg.svg");
  color: white;
  padding: 2% 0;
}

/* .col-md-6{
  margin-top: 4%;
} */



.menu-row{
  display: flex;
  flex-wrap: wrap;
}

.reservation{
  text-align: center;
}

.res-title{
  margin-top: 5%;
}

.booking-container{
  text-align: center;

}

.booking-container p{
  color: white;
  font-size: 1.2rem;
  margin: 0 1%;
}

.booking-form{
  background-image:url("https://raw.githubusercontent.com/cpog19901/burger-pad/master/images/bh-bg.svg");
  padding: 4% 0;
  color: white;
  font-weight: bold;
}

 input{
  display: block;
  margin: 2% auto;
  width: 60%;
  padding: 2%;
  border-radius: 10px;
  border: 3px solid #fb5900;
  text-align: center;
}

.submit-button{
  width: 30%;
  font-family: 'Anton', sans-serif;
  color: #fb5900;

}

.booking-burger-img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.booking-image{
  vertical-align: middle;
}

.reservation{
  margin: 5% 0;
}

.gallery{
  text-align: center;
}

.review-box{
  background-image:url("https://raw.githubusercontent.com/cpog19901/burger-pad/master/images/bh-bg.svg");
  color: white;
  padding: 5% 2%;
  /* margin-bottom: 2%; */
  vertical-align: middle;
  height: 100%;


}

hr{
width: 40%;
background-color: white;
}

.col-review{
  margin-top: 2%;


}
.review-burger{
  width: 100%;
}

input{
  color:#fb5900;
  font-weight: bold;
}

label{
  color: white;
  font-weight: bold;
  display: block;
}

select{
  color: #fb5900;
}

.contact-us{
  text-align: center;
}

.contact-h3{
  color: #fb5900;
}

.contact-us-info{
  border: 2px solid #fb5900;
  height: 100%;
  background-image:url("https://raw.githubusercontent.com/cpog19901/burger-pad/master/images/bh-bg-w.svg");
}

.contact-us-info p{

}

.info-icon{
  color: #fb5900;
  margin-top: 4%;
}

.contact-us p{
  line-height: 0.5;
  font-weight: bold;
}

.opening-hours{
  border: 2px solid #ad4207;
  background-image:url("https://raw.githubusercontent.com/cpog19901/burger-pad/master/images/bh-bg.svg");
  color: white;
  padding: 4%;
  display: block;
  text-align: center;
}

.opening-hours h3{
  text-decoration: underline;
}

.opening-hours p{
  line-height: normal;
}

.clock{
  margin-bottom: 5%;
}

.waiter{


  display: inline-block;
  max-width: 100%;
  text-align: center;
  margin-bottom: 1%;
}

footer{
  background-color: #545350;
  padding: 2%;
  color: white;
  margin-top: 2%;
}

.fab{
  color: white;
}

iframe{
  padding-bottom: 4%;
}

.info-icon{
  /* margin-bottom: 5%; */
}
